@import './variables.scss';

html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: $font-size-full;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font:
		$font-size-14 'Helvetica Neue',
		Helvetica,
		Arial,
		sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: $color-primary-dark-gray;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: $font-weight-light;
}

:focus {
	outline: 0;
}
